
    h1{
      background-color: aliceblue;
      color: rgb(33, 240, 240);
    }
    body{
      background-color: aquamarine;
    }
    h2{
        background-color: aliceblue;
      color: rgb(1, 18, 18);

    }
