
    h1{
      
      color: rgb(33, 240, 240);
    }
    body{
      background:rgba(0, 0, 0, 0.7) url('bg.jpg');
      background-size: cover;
      background-blend-mode: darken;
      
    }
    h2{
        
      color: rgb(238, 244, 244);

    }
    .background{
      background:rgba(0, 0, 0, 0.7) url('bg.jpg');
      background-size: cover;
      background-blend-mode: darken;
    }

