*{
    margin: 1;
    padding: 1;
}
h1{
    color: rgb(218, 18, 151);
}
h2{
    color: rgb(170, 7, 121);
}
div{
    background-color: rgb(251, 246, 246);
}
ul{
    background-color:rgb(111, 111, 148) ;
    color: rgb(212, 43, 43);

}